

<p id="notice"><%= notice %></p>
<div class="title">
<h1> Employee View <%= @manager.first_name %> </h1> 
</div>
<div class="view-table">
<table class="table table-responsive table-bordered ">

  <tr>
    <th>First Name</th>
    <td><%= @manager.first_name %></td>
  </tr>
   <tr>
    <th>Last Name</th>
    <td><%= @manager.last_name %></td>
  </tr>
 <tr>
    <th>Age</th>
    <td><%= @manager.age %></td>
  </tr>
   <tr>
    <th>Gender</th>
    <td><%= @manager.gender_string %></td>
  </tr>
   <tr>
    <th>Mobile Number</th> 
    <td><%= @manager.mobile_number %></td>
  </tr>
   <tr>
    <th>Home Number</th>
    <td><%= @manager.home_number %></td>
  </tr>
   <tr>
    <th>Job Title</th>
    <td><%= @manager.job_title %></td>
  </tr>
   <tr>
    <th>Address</th>
    <td><%= @manager.street_number %> <%= @manager.street_name %> <%= @manager.suburb %></td>
  </tr>





</table>

</div>


<div class="buttons">
<%= link_to 'Edit', edit_manager_path(@manager), :class => "btn btn-default" %> |
<%= link_to 'Back', managers_path, :class => "btn btn-default" %>

</div>